n8n/wardrobe-ai-agent-workflow.json
{
  "name": "Wardrobe Manager - AI Stylist Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auth/register",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-register",
      "name": "Register Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 100],
      "webhookId": "register"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auth/login",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-login",
      "name": "Login Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 300],
      "webhookId": "login"
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "auth/me",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-me",
      "name": "Get Me Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 500],
      "webhookId": "auth-me"
    },
    {
      "parameters": {
        "httpMethod": "=GET",
        "path": "garments",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-garments-list",
      "name": "List Garments Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 700],
      "webhookId": "garments-list"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "garments",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-garments-create",
      "name": "Create Garment Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 900],
      "webhookId": "garments-create"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai/chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-ai-chat",
      "name": "AI Chat Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 1100],
      "webhookId": "ai-chat"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai/suggest-outfit",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-suggest-outfit",
      "name": "Suggest Outfit Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 1300],
      "webhookId": "suggest-outfit"
    },
    {
      "parameters": {
        "jsCode": "// Register User\nconst body = $input.first().json.body || {};\n\nif (!body.email || !body.password) {\n  return [{ json: { success: false, error: 'Email and password are required' } }];\n}\n\nconst crypto = require('crypto');\nconst hash = crypto.createHash('md5').update(body.email.toLowerCase()).digest('hex');\nconst now = Date.now();\n\nconst user = {\n  id: 'user_' + hash.substring(0, 12),\n  email: body.email,\n  name: body.name || body.email.split('@')[0],\n  gender: body.gender || null,\n  age: null,\n  stylePreferences: [],\n  createdAt: new Date().toISOString()\n};\n\nconst tokenPayload = { id: user.id, email: user.email, iat: now, exp: now + 86400000 };\nconst accessToken = Buffer.from(JSON.stringify(tokenPayload)).toString('base64');\nconst refreshToken = Buffer.from(JSON.stringify({ ...tokenPayload, type: 'refresh', exp: now + 604800000 })).toString('base64');\n\nreturn [{ json: { success: true, user, accessToken, refreshToken } }];"
      },
      "id": "code-register",
      "name": "Process Register",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 100]
    },
    {
      "parameters": {
        "jsCode": "// Login User\nconst body = $input.first().json.body || {};\n\nif (!body.email || !body.password) {\n  return [{ json: { success: false, error: 'Email and password are required' } }];\n}\n\nconst crypto = require('crypto');\nconst hash = crypto.createHash('md5').update(body.email.toLowerCase()).digest('hex');\nconst now = Date.now();\n\nconst user = {\n  id: 'user_' + hash.substring(0, 12),\n  email: body.email,\n  name: body.email.split('@')[0],\n  gender: null,\n  age: null,\n  stylePreferences: []\n};\n\nconst tokenPayload = { id: user.id, email: user.email, iat: now, exp: now + 86400000 };\nconst accessToken = Buffer.from(JSON.stringify(tokenPayload)).toString('base64');\nconst refreshToken = Buffer.from(JSON.stringify({ ...tokenPayload, type: 'refresh', exp: now + 604800000 })).toString('base64');\n\nreturn [{ json: { success: true, user, accessToken, refreshToken } }];"
      },
      "id": "code-login",
      "name": "Process Login",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 300]
    },
    {
      "parameters": {
        "jsCode": "// Get Current User from Token\nconst headers = $input.first().json.headers || {};\nconst authHeader = headers.authorization || headers.Authorization || '';\n\nif (!authHeader.startsWith('Bearer ')) {\n  return [{ json: { success: false, error: 'Unauthorized' } }];\n}\n\ntry {\n  const token = authHeader.replace('Bearer ', '');\n  const decoded = JSON.parse(Buffer.from(token, 'base64').toString('utf8'));\n  \n  if (decoded.exp < Date.now()) {\n    return [{ json: { success: false, error: 'Token expired' } }];\n  }\n  \n  return [{ json: { \n    success: true, \n    id: decoded.id, \n    email: decoded.email, \n    name: decoded.email.split('@')[0],\n    gender: null,\n    age: null,\n    stylePreferences: []\n  } }];\n} catch (e) {\n  return [{ json: { success: false, error: 'Invalid token' } }];\n}"
      },
      "id": "code-me",
      "name": "Process Get Me",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 500]
    },
    {
      "parameters": {
        "jsCode": "// Demo garments - in production this would come from a database\nconst demoGarments = [\n  { id: 'g1', name: 'Бяла риза', category: 'shirt', primaryColor: 'white', season: 'all_year', style: 'business_casual', imageUrl: null },\n  { id: 'g2', name: 'Сини дънки', category: 'pants', primaryColor: 'blue', season: 'all_year', style: 'casual', imageUrl: null },\n  { id: 'g3', name: 'Черно сако', category: 'jacket', primaryColor: 'black', season: 'fall', style: 'formal', imageUrl: null },\n  { id: 'g4', name: 'Бяла тениска', category: 'tshirt', primaryColor: 'white', season: 'summer', style: 'casual', imageUrl: null },\n  { id: 'g5', name: 'Черни панталони', category: 'pants', primaryColor: 'black', season: 'all_year', style: 'business', imageUrl: null },\n  { id: 'g6', name: 'Синя риза', category: 'shirt', primaryColor: 'blue', season: 'all_year', style: 'business_casual', imageUrl: null },\n  { id: 'g7', name: 'Бежово палто', category: 'coat', primaryColor: 'beige', season: 'winter', style: 'casual', imageUrl: null },\n  { id: 'g8', name: 'Сив пуловер', category: 'sweater', primaryColor: 'gray', season: 'fall', style: 'casual', imageUrl: null }\n];\n\nreturn [{ json: { data: demoGarments, total: demoGarments.length } }];"
      },
      "id": "code-list-garments",
      "name": "List Garments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 700]
    },
    {
      "parameters": {
        "jsCode": "// Create garment (demo - just echo back with ID)\nconst body = $input.first().json.body || {};\n\nconst garment = {\n  id: 'g_' + Date.now(),\n  name: body.name || 'Нова дреха',\n  category: body.category || 'other',\n  primaryColor: body.primaryColor || null,\n  secondaryColor: body.secondaryColor || null,\n  season: body.season || 'all_year',\n  style: body.style || 'casual',\n  brand: body.brand || null,\n  size: body.size || null,\n  imageUrl: body.imageUrl || null,\n  status: 'active',\n  createdAt: new Date().toISOString()\n};\n\nreturn [{ json: { success: true, garment } }];"
      },
      "id": "code-create-garment",
      "name": "Create Garment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 900]
    },
    {
      "parameters": {
        "jsCode": "// Prepare context for AI Agent\nconst body = $input.first().json.body || {};\nconst message = body.message || '';\nconst context = body.context || {};\n\n// Demo garments list for AI context\nconst garments = [\n  { id: 'g1', name: 'Бяла риза', category: 'shirt', color: 'white', style: 'business_casual' },\n  { id: 'g2', name: 'Сини дънки', category: 'pants', color: 'blue', style: 'casual' },\n  { id: 'g3', name: 'Черно сако', category: 'jacket', color: 'black', style: 'formal' },\n  { id: 'g4', name: 'Бяла тениска', category: 'tshirt', color: 'white', style: 'casual' },\n  { id: 'g5', name: 'Черни панталони', category: 'pants', color: 'black', style: 'business' },\n  { id: 'g6', name: 'Синя риза', category: 'shirt', color: 'blue', style: 'business_casual' },\n  { id: 'g7', name: 'Бежово палто', category: 'coat', color: 'beige', style: 'casual' },\n  { id: 'g8', name: 'Сив пуловер', category: 'sweater', color: 'gray', style: 'casual' }\n];\n\nconst garmentsText = garments.map(g => `- ${g.name} (${g.category}, ${g.color}, ${g.style})`).join('\\n');\n\nconst systemPrompt = `Ти си AI стилист - професионален моден консултант на български език.\n\nТВОЯТА РОЛЯ:\n- Помагаш на потребителите да изберат подходящи дрехи и тоалети\n- Даваш съвети за комбиниране на цветове и стилове  \n- Съобразяваш се с повода, сезона и времето\n- Предлагаш практични и стилни решения\n\nНАЛИЧЕН ГАРДЕРОБ НА ПОТРЕБИТЕЛЯ:\n${garmentsText}\n\nТЕКУЩО ВРЕМЕ: ${context.weather?.temp || 20}°C, ${context.weather?.description || 'умерено'}\n\nПРАВИЛА:\n1. Отговаряй ВИНАГИ на български език\n2. Използвай емоджита за по-приятен интерфейс 👔👗🎨\n3. Давай конкретни съвети с примери от гардероба\n4. Когато предлагаш тоалет, посочвай конкретни дрехи по име\n5. Обяснявай ЗАЩО дадена комбинация работи\n6. Съобразявай се с времето и сезона\n7. Бъди приятелски настроен и насърчаващ`;\n\nreturn [{\n  json: {\n    systemPrompt,\n    userMessage: message,\n    garments,\n    context\n  }\n}];"
      },
      "id": "code-prepare-ai-context",
      "name": "Prepare AI Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 1100]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ai-agent",
      "name": "AI Stylist Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [580, 1100]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "={{ $json.systemPrompt }}"
        }
      },
      "id": "openai-chat-model",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [580, 1320],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format AI Agent Response\nconst input = $input.first().json;\n\nlet message = '';\n\n// Extract response from agent output\nif (input.output) {\n  message = input.output;\n} else if (input.text) {\n  message = input.text;\n} else if (typeof input === 'string') {\n  message = input;\n} else {\n  message = `Здравейте! 👋 Аз съм вашият AI стилист.\n\nМога да ви помогна с:\n• 👔 Избор на тоалет за различни поводи\n• 🎨 Комбиниране на цветове и стилове\n• 🌤️ Съобразяване с времето\n• 💼 Професионален dress code\n• 🎉 Специални събития\n\nКажете ми за какъв повод търсите дрехи или какъв въпрос имате!`;\n}\n\nreturn [{\n  json: {\n    success: true,\n    message: message,\n    sessionId: 'session_' + Date.now()\n  }\n}];"
      },
      "id": "code-format-ai-response",
      "name": "Format AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [820, 1100]
    },
    {
      "parameters": {
        "jsCode": "// Suggest outfit based on occasion\nconst body = $input.first().json.body || {};\nconst occasion = body.occasion || 'casual';\nconst weather = body.weather || { temp: 20, description: 'умерено' };\n\n// Demo suggestions based on occasion\nconst suggestions = {\n  business: {\n    garmentIds: ['g1', 'g5', 'g3'],\n    explanation: 'За бизнес среща препоръчвам класическа комбинация: бяла риза, черни панталони и черно сако. Това е професионален и елегантен look.',\n    occasionFit: 'perfect'\n  },\n  casual: {\n    garmentIds: ['g4', 'g2'],\n    explanation: 'За casual излизане: бяла тениска със сини дънки е класическа и удобна комбинация. Подходяща за уикенд разходка или среща с приятели.',\n    occasionFit: 'perfect'\n  },\n  formal: {\n    garmentIds: ['g6', 'g5', 'g3'],\n    explanation: 'За официално събитие: синя риза с черни панталони и черно сако. Елегантен и стилен избор.',\n    occasionFit: 'perfect'\n  },\n  date: {\n    garmentIds: ['g6', 'g2'],\n    explanation: 'За романтична вечеря: синя риза със сини дънки е smart casual look - не е прекалено официален, но показва, че сте положили усилия.',\n    occasionFit: 'good'\n  }\n};\n\nconst suggestion = suggestions[occasion] || suggestions.casual;\n\nreturn [{\n  json: {\n    success: true,\n    suggestions: [suggestion],\n    weather: weather\n  }\n}];"
      },
      "id": "code-suggest-outfit",
      "name": "Suggest Outfit Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 1300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, PUT, DELETE, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization" }
            ]
          }
        }
      },
      "id": "respond-register",
      "name": "Respond Register",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [580, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, PUT, DELETE, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization" }
            ]
          }
        }
      },
      "id": "respond-login",
      "name": "Respond Login",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [580, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, PUT, DELETE, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization" }
            ]
          }
        }
      },
      "id": "respond-me",
      "name": "Respond Me",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [580, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, PUT, DELETE, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization" }
            ]
          }
        }
      },
      "id": "respond-garments-list",
      "name": "Respond Garments List",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [580, 700]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, PUT, DELETE, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization" }
            ]
          }
        }
      },
      "id": "respond-garments-create",
      "name": "Respond Garments Create",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [580, 900]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, PUT, DELETE, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization" }
            ]
          }
        }
      },
      "id": "respond-ai-chat",
      "name": "Respond AI Chat",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1060, 1100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, PUT, DELETE, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization" }
            ]
          }
        }
      },
      "id": "respond-suggest-outfit",
      "name": "Respond Suggest Outfit",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [580, 1300]
    }
  ],
  "connections": {
    "Register Webhook": {
      "main": [[{ "node": "Process Register", "type": "main", "index": 0 }]]
    },
    "Process Register": {
      "main": [[{ "node": "Respond Register", "type": "main", "index": 0 }]]
    },
    "Login Webhook": {
      "main": [[{ "node": "Process Login", "type": "main", "index": 0 }]]
    },
    "Process Login": {
      "main": [[{ "node": "Respond Login", "type": "main", "index": 0 }]]
    },
    "Get Me Webhook": {
      "main": [[{ "node": "Process Get Me", "type": "main", "index": 0 }]]
    },
    "Process Get Me": {
      "main": [[{ "node": "Respond Me", "type": "main", "index": 0 }]]
    },
    "List Garments Webhook": {
      "main": [[{ "node": "List Garments", "type": "main", "index": 0 }]]
    },
    "List Garments": {
      "main": [[{ "node": "Respond Garments List", "type": "main", "index": 0 }]]
    },
    "Create Garment Webhook": {
      "main": [[{ "node": "Create Garment", "type": "main", "index": 0 }]]
    },
    "Create Garment": {
      "main": [[{ "node": "Respond Garments Create", "type": "main", "index": 0 }]]
    },
    "AI Chat Webhook": {
      "main": [[{ "node": "Prepare AI Context", "type": "main", "index": 0 }]]
    },
    "Prepare AI Context": {
      "main": [[{ "node": "AI Stylist Agent", "type": "main", "index": 0 }]]
    },
    "AI Stylist Agent": {
      "main": [[{ "node": "Format AI Response", "type": "main", "index": 0 }]]
    },
    "Format AI Response": {
      "main": [[{ "node": "Respond AI Chat", "type": "main", "index": 0 }]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{ "node": "AI Stylist Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Suggest Outfit Webhook": {
      "main": [[{ "node": "Suggest Outfit Logic", "type": "main", "index": 0 }]]
    },
    "Suggest Outfit Logic": {
      "main": [[{ "node": "Respond Suggest Outfit", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [],
  "triggerCount": 7,
  "updatedAt": "2025-12-04T16:00:00.000Z",
  "versionId": "1"
}
