n8n/wardrobe-manager-workflow.json
{
  "name": "Wardrobe Manager Backend",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auth/register",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "reg-webhook",
      "name": "Register Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 100],
      "webhookId": "wm-register"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auth/login",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "login-webhook",
      "name": "Login Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 260],
      "webhookId": "wm-login"
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "auth/me",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "me-webhook",
      "name": "Me Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 420],
      "webhookId": "wm-me"
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "garments",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "get-garments-webhook",
      "name": "Get Garments Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 580],
      "webhookId": "wm-garments-get"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "garments",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "create-garment-webhook",
      "name": "Create Garment Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 740],
      "webhookId": "wm-garments-create"
    },
    {
      "parameters": {
        "httpMethod": "DELETE",
        "path": "garments/:id",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "delete-garment-webhook",
      "name": "Delete Garment Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 900],
      "webhookId": "wm-garments-delete"
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "outfits",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "get-outfits-webhook",
      "name": "Get Outfits Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 1060],
      "webhookId": "wm-outfits-get"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "outfits",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "create-outfit-webhook",
      "name": "Create Outfit Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 1220],
      "webhookId": "wm-outfits-create"
    },
    {
      "parameters": {
        "httpMethod": "DELETE",
        "path": "outfits/:id",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "delete-outfit-webhook",
      "name": "Delete Outfit Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 1380],
      "webhookId": "wm-outfits-delete"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai/chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ai-chat-webhook",
      "name": "AI Chat Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 1540],
      "webhookId": "wm-ai-chat"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai/suggest-outfit",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ai-suggest-webhook",
      "name": "AI Suggest Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 1700],
      "webhookId": "wm-ai-suggest"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\n\nif (!body.email || !body.password) {\n  return [{ json: { success: false, error: 'Email и парола са задължителни' } }];\n}\n\nif (body.password.length < 6) {\n  return [{ json: { success: false, error: 'Паролата трябва да е поне 6 символа' } }];\n}\n\nconst crypto = require('crypto');\nconst hash = crypto.createHash('md5').update(body.email.toLowerCase()).digest('hex');\nconst visibleChars = body.email.substring(0, 2).toUpperCase();\nconst userId = visibleChars + hash.substring(0, 10);\nconst now = Date.now();\n\nconst accessToken = Buffer.from(JSON.stringify({\n  id: userId,\n  email: body.email,\n  iat: now,\n  exp: now + 86400000\n})).toString('base64');\n\nconst refreshToken = Buffer.from(JSON.stringify({\n  id: userId,\n  type: 'refresh',\n  iat: now,\n  exp: now + 604800000\n})).toString('base64');\n\nreturn [{\n  json: {\n    success: true,\n    user: {\n      id: userId,\n      email: body.email,\n      name: body.name || body.email.split('@')[0],\n      gender: body.gender || null,\n      createdAt: new Date().toISOString()\n    },\n    accessToken,\n    refreshToken\n  }\n}];"
      },
      "id": "process-register",
      "name": "Process Register",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 100]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\n\nif (!body.email || !body.password) {\n  return [{ json: { success: false, error: 'Email и парола са задължителни' } }];\n}\n\nconst crypto = require('crypto');\nconst hash = crypto.createHash('md5').update(body.email.toLowerCase()).digest('hex');\nconst visibleChars = body.email.substring(0, 2).toUpperCase();\nconst userId = visibleChars + hash.substring(0, 10);\nconst now = Date.now();\n\nconst accessToken = Buffer.from(JSON.stringify({\n  id: userId,\n  email: body.email,\n  iat: now,\n  exp: now + 86400000\n})).toString('base64');\n\nconst refreshToken = Buffer.from(JSON.stringify({\n  id: userId,\n  type: 'refresh',\n  iat: now,\n  exp: now + 604800000\n})).toString('base64');\n\nreturn [{\n  json: {\n    success: true,\n    user: {\n      id: userId,\n      email: body.email,\n      name: body.email.split('@')[0]\n    },\n    accessToken,\n    refreshToken\n  }\n}];"
      },
      "id": "process-login",
      "name": "Process Login",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 260]
    },
    {
      "parameters": {
        "jsCode": "const headers = $input.first().json.headers || {};\nconst authHeader = headers.authorization || headers.Authorization || '';\n\nif (!authHeader.startsWith('Bearer ')) {\n  return [{ json: { success: false, error: 'Неоторизиран достъп' } }];\n}\n\ntry {\n  const token = authHeader.replace('Bearer ', '');\n  const decoded = JSON.parse(Buffer.from(token, 'base64').toString('utf8'));\n  \n  if (decoded.exp && decoded.exp < Date.now()) {\n    return [{ json: { success: false, error: 'Токенът е изтекъл' } }];\n  }\n  \n  return [{\n    json: {\n      success: true,\n      id: decoded.id,\n      email: decoded.email,\n      name: decoded.email ? decoded.email.split('@')[0] : 'User'\n    }\n  }];\n} catch (e) {\n  return [{ json: { success: false, error: 'Невалиден токен' } }];\n}"
      },
      "id": "process-me",
      "name": "Process Me",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 420]
    },
    {
      "parameters": {
        "jsCode": "// In-memory garments storage (would be database in production)\nconst garments = [\n  { id: 'g1', name: 'Бяла риза', category: 'shirt', primaryColor: 'white', secondaryColor: null, season: 'all_year', style: 'business_casual', material: 'cotton', brand: null, imageUrl: null, status: 'active', createdAt: '2024-01-01T00:00:00Z' },\n  { id: 'g2', name: 'Сини дънки', category: 'pants', primaryColor: 'blue', secondaryColor: null, season: 'all_year', style: 'casual', material: 'denim', brand: 'Levi\\'s', imageUrl: null, status: 'active', createdAt: '2024-01-02T00:00:00Z' },\n  { id: 'g3', name: 'Черно сако', category: 'jacket', primaryColor: 'black', secondaryColor: null, season: 'fall', style: 'formal', material: 'wool', brand: null, imageUrl: null, status: 'active', createdAt: '2024-01-03T00:00:00Z' },\n  { id: 'g4', name: 'Бяла тениска', category: 'tshirt', primaryColor: 'white', secondaryColor: null, season: 'summer', style: 'casual', material: 'cotton', brand: null, imageUrl: null, status: 'active', createdAt: '2024-01-04T00:00:00Z' },\n  { id: 'g5', name: 'Черни панталони', category: 'pants', primaryColor: 'black', secondaryColor: null, season: 'all_year', style: 'formal', material: 'polyester', brand: null, imageUrl: null, status: 'active', createdAt: '2024-01-05T00:00:00Z' },\n  { id: 'g6', name: 'Синя риза', category: 'shirt', primaryColor: 'blue', secondaryColor: null, season: 'all_year', style: 'business_casual', material: 'cotton', brand: null, imageUrl: null, status: 'active', createdAt: '2024-01-06T00:00:00Z' },\n  { id: 'g7', name: 'Бежово палто', category: 'coat', primaryColor: 'beige', secondaryColor: null, season: 'winter', style: 'casual', material: 'wool', brand: null, imageUrl: null, status: 'active', createdAt: '2024-01-07T00:00:00Z' },\n  { id: 'g8', name: 'Сив пуловер', category: 'sweater', primaryColor: 'gray', secondaryColor: null, season: 'fall', style: 'casual', material: 'wool', brand: null, imageUrl: null, status: 'active', createdAt: '2024-01-08T00:00:00Z' },\n  { id: 'g9', name: 'Червена рокля', category: 'dress', primaryColor: 'red', secondaryColor: null, season: 'summer', style: 'formal', material: 'silk', brand: null, imageUrl: null, status: 'active', createdAt: '2024-01-09T00:00:00Z' },\n  { id: 'g10', name: 'Черни обувки', category: 'shoes', primaryColor: 'black', secondaryColor: null, season: 'all_year', style: 'formal', material: 'leather', brand: null, imageUrl: null, status: 'active', createdAt: '2024-01-10T00:00:00Z' }\n];\n\nreturn [{ json: { data: garments, total: garments.length } }];"
      },
      "id": "get-garments",
      "name": "Get Garments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 580]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\n\nif (!body.name || !body.category) {\n  return [{ json: { success: false, error: 'Име и категория са задължителни' } }];\n}\n\nconst newGarment = {\n  id: 'g_' + Date.now(),\n  name: body.name,\n  category: body.category,\n  primaryColor: body.primaryColor || 'black',\n  secondaryColor: body.secondaryColor || null,\n  season: body.season || 'all_year',\n  style: body.style || 'casual',\n  material: body.material || null,\n  brand: body.brand || null,\n  imageUrl: body.imageUrl || null,\n  status: 'active',\n  createdAt: new Date().toISOString()\n};\n\nreturn [{ json: { success: true, data: newGarment } }];"
      },
      "id": "create-garment",
      "name": "Create Garment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 740]
    },
    {
      "parameters": {
        "jsCode": "const params = $input.first().json.params || {};\nconst garmentId = params.id;\n\nif (!garmentId) {\n  return [{ json: { success: false, error: 'ID е задължително' } }];\n}\n\nreturn [{ json: { success: true, message: 'Дрехата е изтрита успешно', id: garmentId } }];"
      },
      "id": "delete-garment",
      "name": "Delete Garment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 900]
    },
    {
      "parameters": {
        "jsCode": "// In-memory outfits storage\nconst garments = [\n  { id: 'g1', name: 'Бяла риза', category: 'shirt', primaryColor: 'white' },\n  { id: 'g2', name: 'Сини дънки', category: 'pants', primaryColor: 'blue' },\n  { id: 'g3', name: 'Черно сако', category: 'jacket', primaryColor: 'black' },\n  { id: 'g4', name: 'Бяла тениска', category: 'tshirt', primaryColor: 'white' },\n  { id: 'g5', name: 'Черни панталони', category: 'pants', primaryColor: 'black' },\n  { id: 'g10', name: 'Черни обувки', category: 'shoes', primaryColor: 'black' }\n];\n\nconst outfits = [\n  {\n    id: 'o1',\n    name: 'Бизнес среща',\n    occasion: 'business',\n    season: 'all_year',\n    notes: 'Перфектно за официални срещи',\n    wearCount: 5,\n    lastWorn: '2024-11-20T00:00:00Z',\n    items: [\n      { id: 'oi1', garmentId: 'g1', garment: garments[0] },\n      { id: 'oi2', garmentId: 'g5', garment: garments[4] },\n      { id: 'oi3', garmentId: 'g3', garment: garments[2] },\n      { id: 'oi4', garmentId: 'g10', garment: garments[5] }\n    ],\n    createdAt: '2024-01-15T00:00:00Z'\n  },\n  {\n    id: 'o2',\n    name: 'Casual уикенд',\n    occasion: 'casual',\n    season: 'all_year',\n    notes: 'За разходка или кафе с приятели',\n    wearCount: 12,\n    lastWorn: '2024-11-28T00:00:00Z',\n    items: [\n      { id: 'oi5', garmentId: 'g4', garment: garments[3] },\n      { id: 'oi6', garmentId: 'g2', garment: garments[1] }\n    ],\n    createdAt: '2024-01-20T00:00:00Z'\n  },\n  {\n    id: 'o3',\n    name: 'Smart Casual',\n    occasion: 'smart_casual',\n    season: 'all_year',\n    notes: 'Баланс между елегантно и casual',\n    wearCount: 8,\n    lastWorn: '2024-11-25T00:00:00Z',\n    items: [\n      { id: 'oi7', garmentId: 'g1', garment: garments[0] },\n      { id: 'oi8', garmentId: 'g2', garment: garments[1] }\n    ],\n    createdAt: '2024-02-01T00:00:00Z'\n  }\n];\n\nreturn [{ json: { data: outfits, total: outfits.length } }];"
      },
      "id": "get-outfits",
      "name": "Get Outfits",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 1060]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\n\nif (!body.name) {\n  return [{ json: { success: false, error: 'Име е задължително' } }];\n}\n\nconst newOutfit = {\n  id: 'o_' + Date.now(),\n  name: body.name,\n  occasion: body.occasion || 'casual',\n  season: body.season || 'all_year',\n  notes: body.notes || null,\n  wearCount: 0,\n  lastWorn: null,\n  items: body.items || [],\n  createdAt: new Date().toISOString()\n};\n\nreturn [{ json: { success: true, data: newOutfit } }];"
      },
      "id": "create-outfit",
      "name": "Create Outfit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 1220]
    },
    {
      "parameters": {
        "jsCode": "const params = $input.first().json.params || {};\nconst outfitId = params.id;\n\nif (!outfitId) {\n  return [{ json: { success: false, error: 'ID е задължително' } }];\n}\n\nreturn [{ json: { success: true, message: 'Тоалетът е изтрит успешно', id: outfitId } }];"
      },
      "id": "delete-outfit",
      "name": "Delete Outfit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 1380]
    },
    {
      "parameters": {
        "jsCode": "// Prepare context for AI\nconst body = $input.first().json.body || {};\nconst message = body.message || '';\nconst context = body.context || {};\nconst sessionId = body.sessionId || 'session_' + Date.now();\n\n// Available garments in wardrobe\nconst garments = [\n  { name: 'Бяла риза', category: 'shirt', color: 'white', style: 'business_casual' },\n  { name: 'Сини дънки', category: 'pants', color: 'blue', style: 'casual' },\n  { name: 'Черно сако', category: 'jacket', color: 'black', style: 'formal' },\n  { name: 'Бяла тениска', category: 'tshirt', color: 'white', style: 'casual' },\n  { name: 'Черни панталони', category: 'pants', color: 'black', style: 'formal' },\n  { name: 'Синя риза', category: 'shirt', color: 'blue', style: 'business_casual' },\n  { name: 'Бежово палто', category: 'coat', color: 'beige', style: 'casual' },\n  { name: 'Сив пуловер', category: 'sweater', color: 'gray', style: 'casual' },\n  { name: 'Червена рокля', category: 'dress', color: 'red', style: 'formal' },\n  { name: 'Черни обувки', category: 'shoes', color: 'black', style: 'formal' }\n];\n\nconst wardrobeList = garments.map(g => `- ${g.name} (${g.category}, ${g.color}, ${g.style})`).join('\\n');\n\nconst systemPrompt = `Ти си AI моден стилист на име Стела. Отговаряш САМО на български език.\n\nТвоята роля:\n- Помагаш на потребителите да изберат подходящи дрехи и тоалети от техния гардероб\n- Даваш конкретни съвети за комбиниране на цветове и стилове\n- Съобразяваш се с повода, сезона и времето\n- Предлагаш практични и стилни решения от наличните дрехи\n\nГардероб на потребителя:\n${wardrobeList}\n\nТекущо време: ${context.weather?.temp || 20}°C\n\nПРАВИЛА:\n1. Винаги използвай дрехи от горния списък\n2. Форматирай отговорите с емоджита и markdown (bold, bullet points)\n3. Бъди приятелски настроен/а\n4. Давай конкретни комбинации от гардероба\n5. Ако питат за нещо извън мода/облекло, любезно пренасочи разговора към модни теми`;\n\nreturn [{\n  json: {\n    systemPrompt,\n    userMessage: message,\n    sessionId,\n    context\n  }\n}];"
      },
      "id": "prepare-ai-context",
      "name": "Prepare AI Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 1540]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "={{ $json.systemPrompt }}"
            },
            {
              "role": "user",
              "content": "={{ $json.userMessage }}"
            }
          ]
        },
        "options": {
          "maxTokens": 1000,
          "temperature": 0.7
        }
      },
      "id": "openai-chat",
      "name": "OpenAI Chat",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [740, 1540],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst prevData = $('Prepare AI Context').first().json;\n\nlet message = '';\n\n// Handle different response formats\nif (input.message?.content) {\n  message = input.message.content;\n} else if (input.text) {\n  message = input.text;\n} else if (typeof input === 'string') {\n  message = input;\n} else {\n  // Fallback if OpenAI fails\n  message = `👋 **Здравейте! Аз съм Стела, вашият AI стилист.**\n\nМога да ви помогна с:\n\n• 👔 Избор на тоалет за различни поводи\n• 🎨 Комбиниране на цветове\n• 🌤️ Съобразяване с времето\n• 💼 Професионален dress code\n\nКажете ми за какъв повод търсите дрехи!`;\n}\n\nreturn [{\n  json: {\n    success: true,\n    message: message,\n    sessionId: prevData.sessionId || 'session_' + Date.now()\n  }\n}];"
      },
      "id": "format-ai-response",
      "name": "Format AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [980, 1540]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst occasion = (body.occasion || 'casual').toLowerCase();\nconst weather = body.weather || { temp: 20 };\nconst season = body.season || 'all_year';\n\nlet suggestion;\nlet items = [];\nlet tips = '';\n\nif (occasion.includes('business') || occasion.includes('formal') || occasion.includes('работа') || occasion.includes('среща')) {\n  items = ['Бяла риза', 'Черни панталони', 'Черно сако', 'Черни обувки'];\n  tips = 'Класическата комбинация за професионална среда. Добавете качествен часовник за завършен вид.';\n} else if (occasion.includes('party') || occasion.includes('парти') || occasion.includes('празник')) {\n  items = ['Червена рокля', 'Черни обувки'];\n  tips = 'Смела и елегантна визия за специални поводи. Добавете златни аксесоари.';\n} else if (weather.temp < 10) {\n  items = ['Сив пуловер', 'Черни панталони', 'Бежово палто'];\n  tips = 'Топла и стилна комбинация за студените дни. Добавете шал за допълнителна защита.';\n} else if (weather.temp > 25) {\n  items = ['Бяла тениска', 'Сини дънки'];\n  tips = 'Лека и свежа комбинация за горещото време. Изберете дишащи материи.';\n} else {\n  items = ['Синя риза', 'Сини дънки'];\n  tips = 'Универсална casual комбинация за всеки ден.';\n}\n\nsuggestion = {\n  name: `Предложение за ${occasion}`,\n  occasion: occasion,\n  items: items,\n  tips: tips,\n  weather: `При ${weather.temp}°C тази комбинация е подходяща.`,\n  season: season\n};\n\nreturn [{\n  json: {\n    success: true,\n    suggestion\n  }\n}];"
      },
      "id": "process-ai-suggest",
      "name": "Process AI Suggest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 1700]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, PUT, DELETE, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization" }
            ]
          }
        }
      },
      "id": "respond-register",
      "name": "Respond Register",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [740, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, PUT, DELETE, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization" }
            ]
          }
        }
      },
      "id": "respond-login",
      "name": "Respond Login",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [740, 260]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, PUT, DELETE, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization" }
            ]
          }
        }
      },
      "id": "respond-me",
      "name": "Respond Me",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [740, 420]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, PUT, DELETE, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization" }
            ]
          }
        }
      },
      "id": "respond-garments",
      "name": "Respond Garments",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [740, 580]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, PUT, DELETE, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization" }
            ]
          }
        }
      },
      "id": "respond-create-garment",
      "name": "Respond Create Garment",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [740, 740]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, PUT, DELETE, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization" }
            ]
          }
        }
      },
      "id": "respond-delete-garment",
      "name": "Respond Delete Garment",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [740, 900]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, PUT, DELETE, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization" }
            ]
          }
        }
      },
      "id": "respond-outfits",
      "name": "Respond Outfits",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [740, 1060]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, PUT, DELETE, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization" }
            ]
          }
        }
      },
      "id": "respond-create-outfit",
      "name": "Respond Create Outfit",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [740, 1220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, PUT, DELETE, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization" }
            ]
          }
        }
      },
      "id": "respond-delete-outfit",
      "name": "Respond Delete Outfit",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [740, 1380]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, PUT, DELETE, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization" }
            ]
          }
        }
      },
      "id": "respond-ai-chat",
      "name": "Respond AI Chat",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1220, 1540]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, PUT, DELETE, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization" }
            ]
          }
        }
      },
      "id": "respond-ai-suggest",
      "name": "Respond AI Suggest",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [740, 1700]
    }
  ],
  "connections": {
    "Register Webhook": {
      "main": [[{ "node": "Process Register", "type": "main", "index": 0 }]]
    },
    "Process Register": {
      "main": [[{ "node": "Respond Register", "type": "main", "index": 0 }]]
    },
    "Login Webhook": {
      "main": [[{ "node": "Process Login", "type": "main", "index": 0 }]]
    },
    "Process Login": {
      "main": [[{ "node": "Respond Login", "type": "main", "index": 0 }]]
    },
    "Me Webhook": {
      "main": [[{ "node": "Process Me", "type": "main", "index": 0 }]]
    },
    "Process Me": {
      "main": [[{ "node": "Respond Me", "type": "main", "index": 0 }]]
    },
    "Get Garments Webhook": {
      "main": [[{ "node": "Get Garments", "type": "main", "index": 0 }]]
    },
    "Get Garments": {
      "main": [[{ "node": "Respond Garments", "type": "main", "index": 0 }]]
    },
    "Create Garment Webhook": {
      "main": [[{ "node": "Create Garment", "type": "main", "index": 0 }]]
    },
    "Create Garment": {
      "main": [[{ "node": "Respond Create Garment", "type": "main", "index": 0 }]]
    },
    "Delete Garment Webhook": {
      "main": [[{ "node": "Delete Garment", "type": "main", "index": 0 }]]
    },
    "Delete Garment": {
      "main": [[{ "node": "Respond Delete Garment", "type": "main", "index": 0 }]]
    },
    "Get Outfits Webhook": {
      "main": [[{ "node": "Get Outfits", "type": "main", "index": 0 }]]
    },
    "Get Outfits": {
      "main": [[{ "node": "Respond Outfits", "type": "main", "index": 0 }]]
    },
    "Create Outfit Webhook": {
      "main": [[{ "node": "Create Outfit", "type": "main", "index": 0 }]]
    },
    "Create Outfit": {
      "main": [[{ "node": "Respond Create Outfit", "type": "main", "index": 0 }]]
    },
    "Delete Outfit Webhook": {
      "main": [[{ "node": "Delete Outfit", "type": "main", "index": 0 }]]
    },
    "Delete Outfit": {
      "main": [[{ "node": "Respond Delete Outfit", "type": "main", "index": 0 }]]
    },
    "AI Chat Webhook": {
      "main": [[{ "node": "Prepare AI Context", "type": "main", "index": 0 }]]
    },
    "Prepare AI Context": {
      "main": [[{ "node": "OpenAI Chat", "type": "main", "index": 0 }]]
    },
    "OpenAI Chat": {
      "main": [[{ "node": "Format AI Response", "type": "main", "index": 0 }]]
    },
    "Format AI Response": {
      "main": [[{ "node": "Respond AI Chat", "type": "main", "index": 0 }]]
    },
    "AI Suggest Webhook": {
      "main": [[{ "node": "Process AI Suggest", "type": "main", "index": 0 }]]
    },
    "Process AI Suggest": {
      "main": [[{ "node": "Respond AI Suggest", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 11,
  "updatedAt": "2025-12-04T00:00:00.000Z",
  "versionId": "final-v1"
}
