n8n/wardrobe-unified-backend.json
{
  "name": "Wardrobe Manager Unified Backend",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auth/register",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "w1",
      "name": "Register Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 100],
      "webhookId": "register-unified"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auth/login",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "w2",
      "name": "Login Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 280],
      "webhookId": "login-unified"
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "auth/me",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "w3",
      "name": "Me Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 460],
      "webhookId": "me-unified"
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "garments",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "w4",
      "name": "Get Garments Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 640],
      "webhookId": "garments-get-unified"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "garments",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "w5",
      "name": "Create Garment Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 820],
      "webhookId": "garments-create-unified"
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "outfits",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "w6",
      "name": "Get Outfits Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 1000],
      "webhookId": "outfits-get-unified"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "outfits",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "w7",
      "name": "Create Outfit Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 1180],
      "webhookId": "outfits-create-unified"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai/chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "w8",
      "name": "AI Chat Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 1360],
      "webhookId": "ai-chat-unified"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai/suggest-outfit",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "w9",
      "name": "AI Suggest Outfit Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 1540],
      "webhookId": "ai-suggest-unified"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\n\nif (!body.email || !body.password) {\n  return [{ json: { success: false, error: 'Email и парола са задължителни' } }];\n}\n\nconst crypto = require('crypto');\nconst hash = crypto.createHash('md5').update(body.email.toLowerCase()).digest('hex');\nconst userId = 'user_' + hash.substring(0, 12);\nconst now = Date.now();\n\nconst accessToken = Buffer.from(JSON.stringify({\n  id: userId,\n  email: body.email,\n  iat: now,\n  exp: now + 86400000\n})).toString('base64');\n\nconst refreshToken = Buffer.from(JSON.stringify({\n  id: userId,\n  type: 'refresh',\n  iat: now,\n  exp: now + 604800000\n})).toString('base64');\n\nreturn [{\n  json: {\n    success: true,\n    user: {\n      id: userId,\n      email: body.email,\n      name: body.name || body.email.split('@')[0],\n      gender: body.gender || null\n    },\n    accessToken,\n    refreshToken\n  }\n}];"
      },
      "id": "c1",
      "name": "Process Register",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 100]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\n\nif (!body.email || !body.password) {\n  return [{ json: { success: false, error: 'Email и парола са задължителни' } }];\n}\n\nconst crypto = require('crypto');\nconst hash = crypto.createHash('md5').update(body.email.toLowerCase()).digest('hex');\nconst userId = 'user_' + hash.substring(0, 12);\nconst now = Date.now();\n\nconst accessToken = Buffer.from(JSON.stringify({\n  id: userId,\n  email: body.email,\n  iat: now,\n  exp: now + 86400000\n})).toString('base64');\n\nconst refreshToken = Buffer.from(JSON.stringify({\n  id: userId,\n  type: 'refresh',\n  iat: now,\n  exp: now + 604800000\n})).toString('base64');\n\nreturn [{\n  json: {\n    success: true,\n    user: {\n      id: userId,\n      email: body.email,\n      name: body.email.split('@')[0]\n    },\n    accessToken,\n    refreshToken\n  }\n}];"
      },
      "id": "c2",
      "name": "Process Login",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 280]
    },
    {
      "parameters": {
        "jsCode": "const headers = $input.first().json.headers || {};\nconst authHeader = headers.authorization || headers.Authorization || '';\n\nif (!authHeader.startsWith('Bearer ')) {\n  return [{ json: { success: false, error: 'Неоторизиран достъп' } }];\n}\n\ntry {\n  const token = authHeader.replace('Bearer ', '');\n  const decoded = JSON.parse(Buffer.from(token, 'base64').toString('utf8'));\n  \n  if (decoded.exp && decoded.exp < Date.now()) {\n    return [{ json: { success: false, error: 'Токенът е изтекъл' } }];\n  }\n  \n  return [{\n    json: {\n      success: true,\n      id: decoded.id,\n      email: decoded.email,\n      name: decoded.email ? decoded.email.split('@')[0] : 'User'\n    }\n  }];\n} catch (e) {\n  return [{ json: { success: false, error: 'Невалиден токен' } }];\n}"
      },
      "id": "c3",
      "name": "Process Me",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 460]
    },
    {
      "parameters": {
        "jsCode": "// Demo garments data\nconst garments = [\n  { id: 'g1', name: 'Бяла риза', category: 'shirt', primaryColor: 'white', season: 'all_year', style: 'business_casual', imageUrl: null, status: 'active' },\n  { id: 'g2', name: 'Сини дънки', category: 'pants', primaryColor: 'blue', season: 'all_year', style: 'casual', imageUrl: null, status: 'active' },\n  { id: 'g3', name: 'Черно сако', category: 'jacket', primaryColor: 'black', season: 'fall', style: 'formal', imageUrl: null, status: 'active' },\n  { id: 'g4', name: 'Бяла тениска', category: 'tshirt', primaryColor: 'white', season: 'summer', style: 'casual', imageUrl: null, status: 'active' },\n  { id: 'g5', name: 'Черни панталони', category: 'pants', primaryColor: 'black', season: 'all_year', style: 'business', imageUrl: null, status: 'active' },\n  { id: 'g6', name: 'Синя риза', category: 'shirt', primaryColor: 'blue', season: 'all_year', style: 'business_casual', imageUrl: null, status: 'active' },\n  { id: 'g7', name: 'Бежово палто', category: 'coat', primaryColor: 'beige', season: 'winter', style: 'casual', imageUrl: null, status: 'active' },\n  { id: 'g8', name: 'Сив пуловер', category: 'sweater', primaryColor: 'gray', season: 'fall', style: 'casual', imageUrl: null, status: 'active' }\n];\n\nreturn [{ json: { data: garments, total: garments.length } }];"
      },
      "id": "c4",
      "name": "Get Garments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 640]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\n\nconst newGarment = {\n  id: 'g_' + Date.now(),\n  name: body.name || 'Нова дреха',\n  category: body.category || 'other',\n  primaryColor: body.primaryColor || 'black',\n  season: body.season || 'all_year',\n  style: body.style || 'casual',\n  imageUrl: body.imageUrl || null,\n  status: 'active',\n  createdAt: new Date().toISOString()\n};\n\nreturn [{ json: { success: true, data: newGarment } }];"
      },
      "id": "c5",
      "name": "Create Garment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 820]
    },
    {
      "parameters": {
        "jsCode": "// Demo outfits data\nconst garments = [\n  { id: 'g1', name: 'Бяла риза', category: 'shirt', primaryColor: 'white' },\n  { id: 'g2', name: 'Сини дънки', category: 'pants', primaryColor: 'blue' },\n  { id: 'g3', name: 'Черно сако', category: 'jacket', primaryColor: 'black' },\n  { id: 'g4', name: 'Бяла тениска', category: 'tshirt', primaryColor: 'white' },\n  { id: 'g5', name: 'Черни панталони', category: 'pants', primaryColor: 'black' }\n];\n\nconst outfits = [\n  {\n    id: 'o1',\n    name: 'Бизнес среща',\n    occasion: 'business',\n    season: 'all_year',\n    wearCount: 5,\n    items: [\n      { id: 'oi1', garmentId: 'g1', garment: garments[0] },\n      { id: 'oi2', garmentId: 'g5', garment: garments[4] },\n      { id: 'oi3', garmentId: 'g3', garment: garments[2] }\n    ]\n  },\n  {\n    id: 'o2',\n    name: 'Casual уикенд',\n    occasion: 'casual',\n    season: 'all_year',\n    wearCount: 12,\n    items: [\n      { id: 'oi4', garmentId: 'g4', garment: garments[3] },\n      { id: 'oi5', garmentId: 'g2', garment: garments[1] }\n    ]\n  }\n];\n\nreturn [{ json: { data: outfits, total: outfits.length } }];"
      },
      "id": "c6",
      "name": "Get Outfits",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 1000]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\n\nconst newOutfit = {\n  id: 'o_' + Date.now(),\n  name: body.name || 'Нов тоалет',\n  occasion: body.occasion || 'casual',\n  season: body.season || 'all_year',\n  wearCount: 0,\n  items: body.items || [],\n  createdAt: new Date().toISOString()\n};\n\nreturn [{ json: { success: true, data: newOutfit } }];"
      },
      "id": "c7",
      "name": "Create Outfit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 1180]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst message = (body.message || '').toLowerCase();\n\nlet response;\n\nif (message.includes('официал') || message.includes('среща') || message.includes('бизнес') || message.includes('интервю')) {\n  response = `👔 **За официална среща препоръчвам:**\n\n1. **Бяла риза** + **Черни панталони** + **Черно сако**\n   - Класика, която никога не подвежда\n   - Подходящо за всякакви бизнес срещи\n\n2. **Синя риза** + **Черни панталони**\n   - По-модерен вариант\n   - Добър за креативни индустрии\n\n💡 **Съвет:** Добавете качествен часовник или дискретен аксесоар за завършен вид!`;\n} else if (message.includes('топл') || message.includes('лято') || message.includes('горещ') || message.includes('плаж')) {\n  response = `☀️ **За топло време препоръчвам:**\n\n1. **Бяла тениска** + **Сини дънки**\n   - Класическа лятна комбинация\n   - Дишащи материи за комфорт\n\n2. Леки памучни или ленени дрехи\n   - Предпочитайте светли цветове\n\n💡 **Съвет:** Не забравяйте слънцезащита и удобни обувки!`;\n} else if (message.includes('студ') || message.includes('зима') || message.includes('студено')) {\n  response = `❄️ **За студено време препоръчвам:**\n\n1. **Сив пуловер** + **Черни панталони** + **Бежово палто**\n   - Топло и стилно\n   - Слоеве за гъвкавост\n\n2. Термо бельо под дрехите\n   - Вълнени или кашмирени пуловери\n\n💡 **Съвет:** Обърнете внимание на шал и ръкавици за завършен вид!`;\n} else if (message.includes('парти') || message.includes('празник') || message.includes('купон') || message.includes('събитие')) {\n  response = `🎉 **За парти или специално събитие:**\n\n1. **Черно сако** + **Бяла риза** + нещо с текстура\n   - Елегантно, но не прекалено официално\n\n2. Добавете интересен аксесоар\n   - Изразително бижу или шарен шал\n\n💡 **Съвет:** Не се страхувайте да експериментирате с цветове!`;\n} else if (message.includes('спорт') || message.includes('фитнес') || message.includes('тренировка')) {\n  response = `🏃 **За спорт и тренировки:**\n\n1. Функционални спортни дрехи\n   - Дишащи материи\n   - Отвеждащи влагата\n\n2. Удобни маратонки за типа активност\n\n💡 **Съвет:** Инвестирайте в качествени спортни дрехи - те се изплащат!`;\n} else if (message.includes('работа') || message.includes('офис')) {\n  response = `💼 **За офис всеки ден:**\n\n1. **Синя риза** + **Черни панталони**\n   - Неутрално и професионално\n\n2. **Сив пуловер** + дънки (ако е casual office)\n   - Smart casual вариант\n\n💡 **Съвет:** Имайте 2-3 базови комбинации и ги редувайте!`;\n} else if (message.includes('здравей') || message.includes('здрасти') || message.includes('привет') || message === '') {\n  response = `👋 **Здравейте! Аз съм вашият AI стилист.**\n\nМога да ви помогна с:\n\n• 👔 Избор на тоалет за различни поводи\n• 🎨 Комбиниране на цветове и стилове\n• 🌤️ Съобразяване с времето\n• 💼 Професионален dress code\n• 🎉 Специални събития\n\nПросто ми кажете за какъв повод търсите дрехи и ще ви дам персонални препоръки!`;\n} else {\n  response = `👗 **Ето моите препоръки:**\n\nЗа вашия гардероб имате чудесни опции:\n\n• **Бяла риза** - универсална класика\n• **Сини дънки** - перфектни за casual\n• **Черно сако** - добавя елегантност\n\n🤔 **За по-конкретни съвети**, кажете ми:\n- За какъв повод търсите дрехи?\n- Какво е времето навън?\n- Какъв стил предпочитате?\n\nРадвам се да помогна! 😊`;\n}\n\nreturn [{\n  json: {\n    success: true,\n    message: response,\n    sessionId: 'session_' + Date.now()\n  }\n}];"
      },
      "id": "c8",
      "name": "Process AI Chat",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 1360]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst occasion = body.occasion || 'casual';\nconst weather = body.weather || { temp: 20 };\n\nlet suggestion;\n\nif (occasion === 'business' || occasion === 'formal') {\n  suggestion = {\n    name: 'Бизнес комбинация',\n    items: ['Бяла риза', 'Черни панталони', 'Черно сако'],\n    tips: 'Перфектно за официални срещи и презентации.',\n    weather: `Температурата е ${weather.temp}°C - подходящо за тази комбинация.`\n  };\n} else if (weather.temp > 25) {\n  suggestion = {\n    name: 'Лятна комбинация',\n    items: ['Бяла тениска', 'Сини дънки'],\n    tips: 'Лека и удобна за горещото време.',\n    weather: `При ${weather.temp}°C изберете леки, дишащи материи.`\n  };\n} else if (weather.temp < 10) {\n  suggestion = {\n    name: 'Зимна комбинация',\n    items: ['Сив пуловер', 'Черни панталони', 'Бежово палто'],\n    tips: 'Топло и стилно за студените дни.',\n    weather: `При ${weather.temp}°C добавете още слоеве.`\n  };\n} else {\n  suggestion = {\n    name: 'Casual комбинация',\n    items: ['Синя риза', 'Сини дънки'],\n    tips: 'Универсална комбинация за всеки ден.',\n    weather: `При ${weather.temp}°C е перфектно.`\n  };\n}\n\nreturn [{\n  json: {\n    success: true,\n    suggestion\n  }\n}];"
      },
      "id": "c9",
      "name": "Process AI Suggest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 1540]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, PUT, DELETE, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization" }
            ]
          }
        }
      },
      "id": "r1",
      "name": "Respond Register",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [740, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, PUT, DELETE, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization" }
            ]
          }
        }
      },
      "id": "r2",
      "name": "Respond Login",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [740, 280]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, PUT, DELETE, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization" }
            ]
          }
        }
      },
      "id": "r3",
      "name": "Respond Me",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [740, 460]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, PUT, DELETE, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization" }
            ]
          }
        }
      },
      "id": "r4",
      "name": "Respond Garments",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [740, 640]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, PUT, DELETE, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization" }
            ]
          }
        }
      },
      "id": "r5",
      "name": "Respond Create Garment",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [740, 820]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, PUT, DELETE, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization" }
            ]
          }
        }
      },
      "id": "r6",
      "name": "Respond Outfits",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [740, 1000]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, PUT, DELETE, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization" }
            ]
          }
        }
      },
      "id": "r7",
      "name": "Respond Create Outfit",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [740, 1180]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, PUT, DELETE, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization" }
            ]
          }
        }
      },
      "id": "r8",
      "name": "Respond AI Chat",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [740, 1360]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, PUT, DELETE, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization" }
            ]
          }
        }
      },
      "id": "r9",
      "name": "Respond AI Suggest",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [740, 1540]
    }
  ],
  "connections": {
    "Register Webhook": {
      "main": [[{ "node": "Process Register", "type": "main", "index": 0 }]]
    },
    "Process Register": {
      "main": [[{ "node": "Respond Register", "type": "main", "index": 0 }]]
    },
    "Login Webhook": {
      "main": [[{ "node": "Process Login", "type": "main", "index": 0 }]]
    },
    "Process Login": {
      "main": [[{ "node": "Respond Login", "type": "main", "index": 0 }]]
    },
    "Me Webhook": {
      "main": [[{ "node": "Process Me", "type": "main", "index": 0 }]]
    },
    "Process Me": {
      "main": [[{ "node": "Respond Me", "type": "main", "index": 0 }]]
    },
    "Get Garments Webhook": {
      "main": [[{ "node": "Get Garments", "type": "main", "index": 0 }]]
    },
    "Get Garments": {
      "main": [[{ "node": "Respond Garments", "type": "main", "index": 0 }]]
    },
    "Create Garment Webhook": {
      "main": [[{ "node": "Create Garment", "type": "main", "index": 0 }]]
    },
    "Create Garment": {
      "main": [[{ "node": "Respond Create Garment", "type": "main", "index": 0 }]]
    },
    "Get Outfits Webhook": {
      "main": [[{ "node": "Get Outfits", "type": "main", "index": 0 }]]
    },
    "Get Outfits": {
      "main": [[{ "node": "Respond Outfits", "type": "main", "index": 0 }]]
    },
    "Create Outfit Webhook": {
      "main": [[{ "node": "Create Outfit", "type": "main", "index": 0 }]]
    },
    "Create Outfit": {
      "main": [[{ "node": "Respond Create Outfit", "type": "main", "index": 0 }]]
    },
    "AI Chat Webhook": {
      "main": [[{ "node": "Process AI Chat", "type": "main", "index": 0 }]]
    },
    "Process AI Chat": {
      "main": [[{ "node": "Respond AI Chat", "type": "main", "index": 0 }]]
    },
    "AI Suggest Outfit Webhook": {
      "main": [[{ "node": "Process AI Suggest", "type": "main", "index": 0 }]]
    },
    "Process AI Suggest": {
      "main": [[{ "node": "Respond AI Suggest", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 9,
  "updatedAt": "2025-01-01T00:00:00.000Z",
  "versionId": "unified-1"
}
